target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/.project
/.settings
/target
/.classpath
/.idea
/code/.idea
/examples/version_0.6/.idea
/examples/version_0.6/.vscode
/examples/version_0.6/src/main/resources/service-account.json
/examples/version_0.7/.idea
/examples/version_0.7/src/main/resources/service-account.json
